<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Vtiger Suite" >
    <listeners>
        <listener class-name="com.vtiger.listenerutility.Vtiger_ListenerImpClass"/>
    </listeners>
    <test name="Test With retry">
        <classes>
            <class name="com.vtigertestng.testscripts.ContactTest"/>
        </classes>
    </test>
</suite>